@model PizzaBox.Client.Models.StoreViewModel
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to PizzaBox!</h1>
  <br />
  <p>Please choose a store.</p>
  <br />
  <form action="/user/login" method="post">
    @foreach (var s in @Model.Stores)
    {
      <label>
        <input type="radio" name="location" value="@s.Location" data-val="true" data-val-required="Please pick a Location." />
        @s.Location
      </label>
    }
    <br />
    <label for="admin">
      <input type="checkbox" name="admin" id="admin" value="true" />
      Login as administrator
    </label>
    <br />
    <button type="submit">Continue</button>
  </form>
  
</div>
