@model PizzaBox.Client.Models.StoreViewModel
@{
  ViewData["Title"] = "Store";
}

<h1>@Model.Location Store</h1>

<form action="/order/viewstoreorders" method="post">
  <input type="hidden" name="location" id="location" value="@Model.Location" />
  <button type="submit">View Store Orders</button>
</form>
<br />
<form action="/order/viewstoresales" method="post">
  <button type="submit">View Store Sales</button>
  <input type="hidden" name="location" id="location" value="@Model.Location" />
</form>